// _______________ 
//|               |
//|     Task2     |
//|_______________|

$content-element-width: 84%;
$page-top-margin: 20px;
$input-field-padding: 5px;

$grey-text-color: #9999a6;
$red-light-color: #f99589;
$red-color: #f75c49;
$red-dark-color: #cc4836;

@mixin main-font-style() {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin thin-font-style() {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    #content-wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 66%;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);

        header, .navigation-list, main, footer, nav {
            align-items: center;
            width: $content-element-width;
        }

        header, .navigation-list {
            margin-top: $page-top-margin;
            display: flex;  
        }

        header {
            flex-direction: row;
            margin-bottom: 20px;

            .logo-wrap {
                width: min-content;
                img {
                    min-width: 200px;
                    width: 10vw;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }

            #search-bar {
                margin-left: auto;

                input, button {
                    padding-top: $input-field-padding;
                    padding-bottom: $input-field-padding;
                    font-size: small;
                }

                input {
                    @include thin-font-style();
                    width: 180px;
                    margin-right: 12px; 
                    transition: all 0.5s ease;
                }

                input:hover {
                    width: 20vw;
                    transition: all 0.5s ease;
                }

                button {
                    @include main-font-style();
                    color: $red-color;
                    background-color: white;
                    border: 1px solid $red-color;
                    padding-left: 2 * $input-field-padding;
                    padding-right: 2 * $input-field-padding;      
                    transition: all 0.5s ease;
                }

                button:hover {
                    color: white;
                    background-color: $red-color;
                }
            }
        }

        .navigation-list {
            width: 100%;
            margin-bottom: 30px;

            .navigation-link {
                @include main-font-style();
                margin-right: 2vw;
                color: $red-color;
                text-decoration: none;
            }

            .navigation-link:hover {
                color: $red-dark-color;
                transition: all 0.2s ease;
            }
        
            button {
                @include main-font-style();
                margin-left: auto;
                padding: $input-field-padding 2.5 * $input-field-padding;
                font-size: 16px;
                color: $red-color;
                background-color: white;
                border: 1px solid $red-color;
                transition: all 0.5s ease;
            }

            button:hover {
                color: white;
                background-color: $red-color;
            }
        }

        main {
            .break-line {
                //width: 42%;
                width: 25vw;
                margin-bottom: 30px;
                border-bottom: 1px solid black;
            }

            .section-heading {
                @include main-font-style();
                text-align: center;
            }

            #filter {
                @include thin-font-style();
                font-size: smaller;
                color: $grey-text-color;

                select {
                    padding-top: $input-field-padding;
                    padding-bottom: $input-field-padding;
                }

                .check-label:hover {
                    color: black;
                    transition: all 0.3s ease;
                }

                .vertical-line {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    border-right: 1px dashed $grey-text-color;
                    margin-left: 0.5vw;
                    margin-right: 1vw;
                }
            }

            .teachers-display {
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
                gap: 30px;
            }

            .grid-item {   
                display: block;
                margin-left: auto;
                margin-right: auto;

                .image-wrapper {
                    border-radius: 50%;
                    width: 110px;
                    height: 110px;
                    margin-left: auto;
                    margin-right: auto;
                    border: 3px solid $red-light-color;
                    position: relative;
                    overflow: hidden;
                    transition: transform 0.3s ease-in-out;
                    transition: all 0.5s ease;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.3s ease-in-out;
                    }
                    margin-bottom: 15px;
                }

                .image-wrapper:hover {
                    border: 3px solid $red-dark-color;
                }

                .image-wrapper:hover img {
                    transform: scale(1.2);
                }

                span {
                    @include thin-font-style();
                    display: block;
                    width: 100%;
                    text-align: center;
                }

                .first-name, .last-name {
                    font-weight: 500
                }

                .field {
                    padding-top: 10px;
                    font-size: 12px;
                    color: $grey-text-color;
                }

                .region {
                    padding-top: 5px;
                    font-size: x-small;
                }
            }

            #statistics-wrapper{
                table {
                    @include thin-font-style();
                    $row-color: #f9f5f9;
                    width: 100%;

                    th {
                        border-bottom: 1px solid;
                        padding: 10px;
                        font-weight: 300;
                    }

                    th:first-child {
                        text-align: left;
                    }

                    tr:nth-child(even){
                        background-color: $row-color;
                    }

                    td {
                        font-weight: 300;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        font-size: 12px;
                        text-align: center;
                    }

                    td:first-child {
                        text-align: left;
                    }
                }

                .pagination {
                    $primary-color: #1a9cb0;
                    $activated-color: #2261a9;
                    margin-top: $page-top-margin;

                    button {
                        margin: 4px;
                        color: $primary-color;
                        background-color: transparent;
                        border: none;
                    }

                    button:focus{
                        color: $activated-color;
                    }
                }
            }

            .slider-wrapper {
                position: relative;
                margin-bottom: 50px;

                button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 50px;
                    height: 50px;
                    background-color: white; 
                    border: none;
                    cursor: pointer;

                    i {
                        transform: scaleY(3);
                    }
                }

                #slide-left {
                    left: -40px; 
                }

                #slide-right {
                    right: -40px;
                }

                #item-slider {
                    display: flex;
                    align-items: center;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    margin: 0 10px;
                    margin-top: 15px;
                    overflow-x: hidden;
    
                    .grid-item {
                        margin-left: 3vw;
                    }
                }
            }
        }

        footer {
            @include main-font-style();
            font-weight: 300;
            font-size: small;
            margin-top: auto;
        }
    }

    // remove blank sidebars on small screens
    @media screen and (max-width: 768px) {
        #content-wrap {
            width: 100%;
        }
    }

    #blank-sidebar {
        position: absolute;
        bottom: 0;
        width: 17%;
    }
}

#page-container.blured {
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}

.popup {
    position: fixed; 
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    background-color:#f9f5f9;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.popup.active {
    top: 50%; 
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}