// _______________ 
//|               |
//|     Task2     |
//|_______________|

$content-element-width: 84%;
$page-top-margin: 20px;
$input-field-padding: 5px;

$grey-text-color: #9999a6;
$red-light-color: #f99589;
$red-color: #f75c49;
$red-dark-color: #cc4836;

@mixin main-font-style() {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin thin-font-style() {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    #content-wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 66%;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);

        header, .navigation-list, main, footer, nav {
            align-items: center;
            width: $content-element-width;
        }

        header, .navigation-list {
            margin-top: $page-top-margin;
            display: flex;  
        }

        header {
            flex-direction: row;
            margin-bottom: 20px;

            .logo-wrap {
                width: min-content;
                img {
                    min-width: 200px;
                    width: 10vw;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }

            #search-bar {
                margin-left: auto;

                input, button {
                    padding-top: $input-field-padding;
                    padding-bottom: $input-field-padding;
                    font-size: small;
                }

                input {
                    @include thin-font-style();
                    width: 180px;
                    margin-right: 12px; 
                    transition: all 0.5s ease;
                }

                input:hover {
                    width: 20vw;
                    transition: all 0.5s ease;
                }

                button {
                    @include main-font-style();
                    color: $red-color;
                    background-color: white;
                    border: 1px solid $red-color;
                    padding-left: 2 * $input-field-padding;
                    padding-right: 2 * $input-field-padding;      
                    transition: all 0.5s ease;
                }

                button:hover {
                    color: white;
                    background-color: $red-color;
                }
            }
        }

        .navigation-list {
            width: 100%;
            margin-bottom: 30px;

            .navigation-link {
                @include main-font-style();
                margin-right: 2vw;
                color: $red-color;
                text-decoration: none;
            }

            .navigation-link:hover {
                color: $red-dark-color;
                transition: all 0.2s ease;
            }
        
            button {
                @include main-font-style();
                margin-left: auto;
                padding: $input-field-padding 2.5 * $input-field-padding;
                font-size: 16px;
                color: $red-color;
                background-color: white;
                border: 1px solid $red-color;
                transition: all 0.5s ease;
            }

            button:hover {
                color: white;
                background-color: $red-color;
            }
        }

        main {
            .break-line {
                //width: 42%;
                width: 25vw;
                margin-bottom: 30px;
                border-bottom: 1px solid black;
            }

            .section-heading {
                @include main-font-style();
                text-align: center;
            }

            #filter {
                @include thin-font-style();
                font-size: smaller;
                color: $grey-text-color;

                select {
                    padding-top: $input-field-padding;
                    padding-bottom: $input-field-padding;
                }

                .check-label:hover {
                    color: black;
                    transition: all 0.3s ease;
                }

                .vertical-line {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    border-right: 1px dashed $grey-text-color;
                    margin-left: 0.5vw;
                    margin-right: 1vw;
                }
            }

            .teachers-display {
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                gap: 30px;
            }

            .grid-item {   
                .image-wrapper {
                    border-radius: 50%;
                    width: 110px;
                    height: 110px;
                    border: 3px solid $red-light-color;
                    position: relative;
                    overflow: hidden;
                    transition: transform 0.3s ease-in-out;
                    transition: all 0.5s ease;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.3s ease-in-out;
                    }
                }

                .image-wrapper:hover {
                    border: 3px solid $red-dark-color;
                }

                .image-wrapper:hover img {
                    transform: scale(1.2);
                }

                .field {
                    color: $grey-text-color;
                }
            }

            // changing number of grid columns based on screen width

            @media screen and (max-width: 2000px){
                .teachers-display {
                    grid-template-columns: repeat(7, 1fr);
                }
            }

            @media screen and (max-width: 1686px){
                .teachers-display {
                    grid-template-columns: repeat(6, 1fr);
                }
            }

            @media screen and (max-width: 1468px){
                .teachers-display {
                    grid-template-columns: repeat(5, 1fr);
                }
            }

            @media screen and (max-width: 1268px){
                .teachers-display {
                    grid-template-columns: repeat(4, 1fr);
                }
            }

            @media screen and (max-width: 1024px){
                .teachers-display {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            // increase number of grids again after blank sidebars are removed
            @media screen and (max-width: 768px){
                .teachers-display {
                    grid-template-columns: repeat(4, 1fr);
                }
            }

            #statistics-wrapper{
                table {
                    $row-color: #f9f5f9;
                    width: 100%;

                    th {
                        border-bottom: 1px solid;
                        padding: 10px;
                    }

                    th:first-child {
                        text-align: left;
                    }

                    tr:nth-child(even){
                        background-color: $row-color;
                    }
                }

                .pagination {
                    $primary-color: #1a9cb0;
                    $activated-color: #2261a9;
                    margin-top: $page-top-margin;

                    button {
                        margin: 4px;
                        color: $primary-color;
                        background-color: transparent;
                        border: none;
                    }

                    button:focus{
                        color: $activated-color;
                    }
                }
            }

            .item-slider {
                display: flex;
                align-items: center;
                overflow-x: auto;
                scroll-behavior: smooth;
                margin: 0 10px;
                margin-top: 15px;

                .grid-item {
                    margin-left: 3vw;
                }
            }
        }

        footer {
            margin-top: auto;
        }
    }

    .popup {
        display: none;
        position:absolute;
        position: fixed; 
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 40%;
        border: 1px solid #ccc;
        background-color:#f9f5f9;
      }

    // remove blank sidebars on small screens
    @media screen and (max-width: 768px) {
        #content-wrap {
            width: 100%;
        }
    }

    #blank-sidebar {
        position: absolute;
        bottom: 0;
        width: 17%;
    }
}